#root {
  all: unset;
  max-width: 100hw;
  margin: 0;
  padding: 0;
  text-align: center;
}
 
.game-container{
  align-items: center;
}

html, body{
  background-image: "./assets/background/space_gif_by_dyazy_df8mdau.gif"; /* Replace with your GIF URL */
  background-size: cover; /* Ensures the GIF covers the entire page */
  background-position: center; /* Centers the background */
  background-repeat: no-repeat; /* Prevents the GIF from repeating */
  height: 100vh; /* Sets the height to full viewport */
  margin: 0; /* Removes default body margin */
  overflow: hidden; /* Prevents scrolling if needed */
}