#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
 
.game-container{
  align-items: center;
}

html, body{
  background-image: url("https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExcHhxNTBucnljaXR4cm8xcGo1eTVndzN1YTRvM2g5YXM3NGY0c3RiMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/6WjiPPOF0eeS3ipQKH/giphy.gif"); /* Replace with your GIF URL */
  background-size: cover; /* Ensures the GIF covers the entire page */
  background-position: center; /* Centers the background */
  background-repeat: no-repeat; /* Prevents the GIF from repeating */
  height: 100vh; /* Sets the height to full viewport */
  margin: 0; /* Removes default body margin */
  overflow: hidden; /* Prevents scrolling if needed */
}