.grid {
    display: grid;
    flex-direction: column;
    margin: 10px;
}
  
.grid-row {
    vertical-align: middle;
    display: flex;
    justify-items: center;
    margin-bottom : 0;
}
  
.grid-cell {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 1px solid #880909;
    display: grid;
    justify-content: center;
    align-items: center;
}
  
.active-block {
    background-color: #4010C4;
    border-radius: 20px;
}
  