.grid {
    display: grid;
    flex-direction: column;
    margin-bottom: 20px;
}
  
.grid-row {
    display: flex;
  }
  
.grid-cell {
    width: 60px;
    height: 60px;
    background-color:rgb(23, 24, 25);
    border: 1px solid #880909;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.active-block {
    background-color: #4010C4;
    border-radius: 20px;
}
  