.grid {
    display: grid;
    vertical-align: middle;
    padding: 0;
    height: 80vh;
    flex-direction: column;
    margin: 0;
}
  
.grid-row {
    vertical-align: middle;
    display: flex;
    justify-items: center;
    margin-bottom : 0;
}
  
.grid-cell {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    background-color:rgb(23, 24, 25);
    border: 1px solid #880909;
    display: grid;
    justify-content: center;
    align-items: center;
}
  
.active-block {
    background-color: #4010C4;
    border-radius: 20px;
}
  